body {
  max-width: 50em;
  margin: auto;
  margin-top:1em;
  padding:1em;
  border-top:solid 10px #aaa;
  }
/*
table td {
  vertical-align:top;
  padding: 0 0 2 5;
  }
*/
div.description {
  font-size:80%;
  }
span.funName {
  font-size:120%;
  }
div.funDescription {
  padding:0 0 0 2em;
  margin:0;
  }
div.funDoc {
  margin-top:1em;
  }

.funDescription p {
  margin:6pt 0 0 0; padding: 0 0 0 0;
  }
span.redline {
  font-weight:bold;
  color:#ff0000;
  }
th {
  text-align:left;
  padding-bottom:0.5em;
  }

h3 {
  margin: 1.2em 0 .4em 0;
  }

p {
  margin: .4em 0 0 0;
  }

li {
  padding:5px;
  }

.button {
  padding: 5px 10px;
  display: inline;
  background: #777 url(button.png) repeat-x bottom;
  border: none;
  color: #fff;
  /*cursor: pointer;*/
  /*font-weight: bold;*/
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
  }
.button:hover {
  background-position: 0 center;
  }
.button:active {
  background-position: 0 top;
  position: relative;
  top: 1px;
  padding: 6px 10px 4px;
  }
.button.green {
  background-color: #58aa00;
  }
  
table.download {
  margin-left:1em;
  }
table.download td {
  padding:10px 0;
  }
